@import "~bulma/sass/utilities/mixins.sass"

.blog-roll
  .card-header
    padding-top: 100%
    position: relative

    >*
      display: flex
      position: absolute
      top: 0
      height: 100%

    .card-header-title
      font-size: clamp(20px, 2.8vw, 40px) !important
      @include tablet-only
        padding: 20px 20px !important
      @include mobile
        font-size: 45px !important
      text-align: center
      text-transform: uppercase
      padding: 20px 60px !important
      word-break: break-word
      hyphens: auto

.blog-entry
  .content
    h2:not(:first-child)
      margin-top: 64px
      margin-bottom: 32px