@import "~bulma/sass/utilities/mixins.sass"
@import "variables"


.blog-page
  .hero
    position: relative
    margin-bottom: 60px
    h2
      font-weight: 700
      max-width: 700px
      width: calc(100% - 200px)
      @include mobile
        width: auto
    .balls
      display: block
      position: absolute
      width: 400px
      height: 378px
      right: 0
      bottom: -90px
      @include mobile
        display: none

  &.theme-read
    .hero
      background-color: $blue-st
      h1
        color: $yellow-st
      h2
        color: $white
      .balls
        background-image: url(../img/read.svg)

  &.theme-listen
    .hero
      background-color: $yellow-st
      h1
        color: $red-st
      h2
        color: $blue-st
      .balls
        background-image: url(../img/listen.svg)
  &.theme-meet
    .hero
      background-color: $red-st
      h1
        color: $blue-st
      h2
        color: $white
      .balls
        background-image: url(../img/meet.svg)

.blog-roll
  .card-header
    border-radius: 4px !important
    padding-top: 100%
    position: relative

    >*
      display: flex
      position: absolute
      top: 0
      height: 100%

    .card-header-title
      font-size: clamp(20px, 2.8vw, 25px) !important
      line-height: 40px !important
      @include from(desktop)
        line-height: 50px !important
      @include tablet-only
        padding: 20px 20px !important
      @include mobile
        line-height: 50px !important
        font-size: 40px !important
      text-align: center
      text-transform: uppercase
      padding: 20px 40px !important
      word-break: break-word
      hyphens: auto

  .card-content
    border-radius: 0 !important
    border-bottom: 4px solid $grey-lightest

.blog-entry
  .content
    h2:not(:first-child)
      margin-top: 64px
      margin-bottom: 32px